html{
    background-image: url(img/fondo.png);
    background-size: cover;
}
@font-face {
    font-family: bit;
    src: url(font/8bit2.TTF);
}
@font-face {
    font-family: bit2;
    src: url(font/RetroGaming.ttf);
}
div.inicio{
    color: rgb(255, 255, 255);
    font-weight: border;
    text-align: center;
    font-family: bit;
    background: -webkit-linear-gradient(yellow,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;
}
p{
    color: rgb(227, 146, 253);
    text-align: center;
    font-family: bit2;
}
div.imagen{
    text-align: center;
}


