html{
    background-image: url(img/fondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
@font-face {
    font-family: bit;
    src: url(font/8bit2.TTF);
}
@font-face {
    font-family: bit2;
    src: url(font/RetroGaming.ttf);
}
div.inicio{
    color: rgb(255, 255, 255);
    font-weight: border;
    text-align: center;
    font-family: bit;
    background: -webkit-linear-gradient(yellow,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;
}
p{
    color: rgb(227, 146, 253);
    text-align: center;
    font-family: bit2;
}
div.imagen{
    text-align: center;
}
p.poema{
    font-size: large;
    text-align: center;
    font-style: italic;
    display: inline-block;
}
img.gif{
    float:right;
    border: 5px solid white;
}
.sub{
    color: rgb(255, 255, 255);
    font-weight: border;
    text-align: center;
    font-family: bit;
    background: -webkit-linear-gradient(rgb(0, 255, 255),rgb(0, 255, 136));
    -webkit-background-clip: text;
    text-decoration: underline;
    -webkit-text-fill-color: transparent;
    font-size: larger;
}
img.gif2{
    float:left;
    border: 5px solid white;
}
.sub3{
    color: rgb(255, 255, 255);
    font-weight: border;
    text-align: center;
    font-family: bit;
    background: -webkit-linear-gradient(rgb(0, 255, 255),rgb(0, 255, 136));
    -webkit-background-clip: text;
    text-decoration: underline;
    -webkit-text-fill-color: transparent;
    font-size: larger;
}
ul{
    font-size: large;
    font-style: italic;
    display: inline-block;
    color: rgb(253, 210, 146);
    font-family: bit2;
    margin-left: 200px;
}
li{
    padding-left: 30px;
}


